@import "../main.css";

.TabBarContainer {
}

.SelectedTabItem {
  border: 2px;
  &.InnerTabItem {
    background-color: #B5C4DB; // ks-gunpowder-300
    border-color: transparent;
  }

  &.OuterTabItem {
    background-color: #ffffff;
    border-style: solid;
    border-color: #6474AC; // ks-gunpowder-600
  }

  &.TabName {
    border: 0px;
    background-color: #ffffff00;
    color: #6474AC; // ks-gunpowder-600
    font-weight: 600;
  }
}

.TabItem {
  background-color: #ffffff00;
  border: 2px;
  border-style: solid;
  border-color: transparent;
  &.InnerTabItem {
    background-color: #E4E7EC; // ks-neutral-200
    &:hover {
      background-color: #D3DBEA; // ks-gunpowder-200
      border-color: #91A5C9; // ks-gunpowder-400
    }
  }

  &.TabName {
    border: 0px;
    background-color: #ffffff00;
    color: #6A6969; // ks-warm-grey-800
  }
}
