.searchList {
  margin: 0px;
  overflow: auto;
  padding: 0px;
  /* TODO: show the scrollar when you need to; like Spotlight; not sure if CSS selectors are working */
  &::-webkit-scrollbar {
    width: .1em
  };
  &::-webkit-scrollbar-track {
    display: none
  };
  &::-webkit-scrollbar-thumb {
    display: none
  };
  .KNSearchItem {
    background-color: #292928;
  };
  .selected {
    background-color: #1566BB;
  };
}

.searchItem {
  align-items: center;
  border-radius: 9px;
  height: 70px;
  justify-content: left;
  padding: 0px;
  margin: 8px 6px;

  .fileTypeIcon {
    padding: 0px 0px 0px 0px;
    margin: 0px 16px 0px 8px;
    width: 30px;
    .fileTypeIconImg {
      width: 30px;
    }
  }

  .rightList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    line-height: 18px;

    .fileName {
      color: #2F2B25;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 600;
      margin: 0px 0px 2px 0px;
      overflow: hidden;
      white-space: nowrap;
    }

    .fileAttr {
      color: #656473;
      display: flex;
      font-size: 14px;
      font-weight: 400;
      margin: 0px 0px 0px 0px;
    }

    .title {
      color: #858483;
      display: flex;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap as nowrap;
    }
  }
}

.searchItem:hover {
    background-color: #C5C5C5;
    cursor: pointer;
  }


