@import "../../../main.css";

.KNMainContainer {
  flex-direction: column;
  font-family: Inter, sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  perspective: 1px;
  background-color: #fafafa;
  border-radius: 10px;
}

.KNWorkspace {
}

.KNResults {
  display: flex;
}

.KNChat {
  margin: 0px;
  padding: 0px;
}

.activity-resize-handle {
  width: 5px;
  cursor: col-resize;
  background: transparent;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  transition: background 0.15s ease;

  &:hover,
  &:active {
    background: rgba(100, 116, 172, 0.3);
  }
}
