.input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #E4E7EC;
  background: var(--Grays-White, #FFF);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
  height: 64px;
  padding: 0px 31px;
  color: #667085;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
