.button {
  &:hover {
    background-color: color-mix(in srgb,var(--color-blue-600),#000 15%)
  }
}

.entranceTransition {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.exitTransition {
  -webkit-animation: fade-out .8s ease-out both;
  animation: fade-out .8s ease-out both;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error {
  color: var(--color-danger-2);
}

.contactButton {
  color: var(--color-link);
  box-shadow: 0;
  font-weight: '700';
  text-transform: 'none';

}
