.scrollbarHide {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
    
  &::-webkit-scrollbar {
    width: 4px;
  }
    
  &::-webkit-scrollbar-track {
    background: transparent;
  }
    
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
}