.AutomationCard {
  background-color: #fff;
  border: 2px;
  border-style: solid;
  border-color: #e5e5e5;
}

.AutomationCardAddNew {
  background-color: #ffffff56;
  border: 2px;
  border-style: solid;
  border-color: #e5e5e5;

  &:hover {
    background-color: #b5d5f540;
    border-color: #95b5f5;
  }
}

.DataCard {
  background-color: #fff;
  border: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  &:hover {
    background-color: #b5d5f540;
    border-color: #95b5f5;
  }
}
  
.DataCardSelected {
  background-color: #b5d5f540;
  border-color: #95b5f5;
  border: 2px;
  border-style: solid;
}

