.menuItem {
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  gap: 8px;
  width: 100%;
}

.menuItem .iconWrapper svg path {
  fill: black;
}

.selected {
  border: 1px solid  #93C5FD;
  .title {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    color: #1d4ed8;
  }
}

.ghost {
  background-color: #FFFFFF;
  font-family: var(--font-family);
  transition: background .5s ease;
  border-bottom: 1px solid #e4e4e7;

  &:hover {
    color: #1d4ed8;
    .title {
      flex: 1;
      position: relative;
      line-height: 24px;
      font-weight: 500;
      color: #1d4ed8;
    }
    svg path {
      fill: blue;
    }
  }
}

.iconWrapper {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  padding: 8px;
  & > img,
  & > svg {
    width: 20px;
    height: 20px;
  }
}

.regular {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;

  .title {
    font-size: 14px;
    color: #000;
  }
}

.title {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: black;
}
