<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleDisplayName</key>
  <string>Knapsack</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Knapsack Watch Extension</string>
  <key>CFBundlePackageType</key>
  <string>XPC!</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>CLKComplicationPrincipalClass</key>
      <string>$(PRODUCT_MODULE_NAME).KnapsackComplicationController</string>
      <key>CLKComplicationSupportedFamilies</key>
      <array>
        <string>CLKComplicationFamilyCircularSmall</string>
        <string>CLKComplicationFamilyModularSmall</string>
        <string>CLKComplicationFamilyUtilitarianSmall</string>
        <string>CLKComplicationFamilyGraphicCircular</string>
      </array>
      <key>WKAppBundleIdentifier</key>
      <string>ai.knapsack.mobile.watchkitapp</string>
    </dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.watchkit</string>
  </dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Knapsack needs microphone access to record meetings from your watch.</string>
  <key>UIAppFonts</key>
  <array>
    <string>InterVariable.ttf</string>
    <string>Spectral-Medium.ttf</string>
    <string>Spectral-Italic.ttf</string>
  </array>
</dict>
</plist>
